body{
  color: rebeccapurple;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.main-container{
  display: flex;
  flex-direction: column;
}

.add-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  
}

.bowser-image{
  height: 50x;
  width: 50px;
}

.my-form{
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: white;

}

.form-row{
  display: flex;
  align-items: center;
  gap: 20px;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 30px 30px 30px 30px;
}

.book-card{
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 30px;
  gap: 10px;
}

.book-discription{
  display: flex;
  flex-direction: column;
}

.book-action{
  display: flex;
  flex-direction: row;
}

.author-style{
  font-style: italic;
}


button{
  width: 75px;
}

.read-button{
  color: black;
  background: orange;
  border-style: none;
}

.finished-book{
  color: white;
  background-color: green;
  border: none;
}


.submit-button{
  width: 200px;
  height: 50px;
  font-size: 30px;
}